.article-card-2 {
  width: 100%;
  @include medium() {
    width: 44%;
    margin: 15px;
  }
  a {
    text-decoration: none;
    color: black;
    img {
      width: 100%;
      height: 220px;
    }
    .author {
      @extend .article-card-body-author;
    }
    padding-bottom: 4px;
    h3 {
      transition: color 1s;
      &:hover {
        color: orangered;
      }
    }
  }
  margin-top: 30px;
}
