.comment {
  padding: 10px;
  border: 1px solid rgb(194, 183, 183);
  margin-top: 17px;
}
.comment-user h5,
h6 {
  margin: 0;
}
.comment-text p {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px rgb(226, 141, 13) solid;
  border-bottom: 1px rgb(226, 141, 13) solid;
}
.comment-date {
  margin-bottom: 3px;
}
.comment-relative {
  position: relative;
}
.comment-relative .remove-comment {
  position: absolute;
  right: 10;
  top: 10;
}
.comment-area {
  margin-top: 15px;
  &-title {
    margin-bottom: 15px;
  }
  .none {
    margin-bottom: 15px;
  }
}
.comment-form {
  textarea {
    width: 100%;
    outline: none;
    border: 1px solid rgb(218, 206, 206);
    border-radius: 4px;
    @include medium() {
    }
  }
  button {
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    border-radius: 4px;
  }
}
