* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-Regular.ttf");
  src: url("../Montserrat-Regular.ttf") format("embedded-opentype"),
    url("../Montserrat-Regular.ttf") format("ttf"),
    url("../Montserrat-Regular.ttf") format("truetype");
}

html {
  font-family: "Montserrat";
}

.success-stat {
  color: rgb(19, 221, 19);
}
.error-stat {
  color: rgb(236, 12, 12);
}

.log {
  background-color: rgb(240, 235, 235);
  padding: 5px;
  &-event {
    color: rgb(30, 97, 221);
  }
  &-inf {
    a {
      color: black;
    }
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.center {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.button {
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
}
.yellow-button {
  @extend .button;
  background-color: rgb(241, 241, 8);
  color: black;
}
.black-button {
  @extend .button;
  background-color: black;
  color: white;
}
