.navbar {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  .hamburger {
    cursor: pointer;
  }
  .home {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  .icon-group {
    display: none;
    @media (min-width: 540px) {
      display: flex;
      align-items: center;
      .tags,
      .logs {
        margin-left: 10px;
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          color: black;
        }
      }
    }
  }

  .events {
    display: flex;
    align-items: center;
    margin-left: auto;
    .search {
      cursor: pointer;
      margin-right: 10px;
    }
    &-sign-in {
      margin-right: 12px;
    }
    &-logout {
      margin-left: 10px;
    }
  }
}
