<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {{#if (isNotDefined token)}}
          <li class="nav-item">
            <a class="nav-link" href="/signUp">Sign Up</a>
          </li>
        {{/if}}

        {{#if (isDefined token)}}

          <li class="nav-item">
            <a class="nav-link" href="/addArticle">Add Article</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/addTag">Add Tag</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        {{/if}}

      </ul>
      {{#if (isDefined token)}}
        <div>
          {{user.displayName}}
        </div>
      {{/if}}
    </div>
  </div>
</nav>