{{#if (isDefined token)}}
  <div class="container">
    <a
      style="margin-top: 15px; margin-left: auto; width: 120px; display: block;"
      class="yellow-button"
      href="/addArticle"
    > New Article </a>
  </div>
{{/if}}