 <div class="col-3">
      <ul class="list-group">
        <a class="list-group-item" href="/dashboard/{{user._id}}" >Dashboard</a>  
        <a class="list-group-item" href="/addArticle">Add Article</a>
</div>