<div style="margin-top: 15px;margin-bottom: 15px; display: flex; ">
  <a
    class="yellow-button"
    style="display: block; width: 120px; text-align: center;"
    href="/dashboard/{{user._id}}"
  >Dashboard</a>

  <a
    class="yellow-button"
    style="display: block; width: 200px; margin-left: 12px; text-align: center;"
    href="/refreshPassword"
  >Change Password</a>
</div>