<form onsubmit="addArticle(event)" id="addArticle">

  <input type="hidden" name="author" value="{{user._id}}" />

  <div class="mb-3">
    <label for="displayTitle" class="form-label">Article Display Title</label>
    <input type="text" class="form-control" name="displayTitle" />
  </div>

  <div class="mb-3">
    <label for="articleImage" class="form-label">Article Image</label>
    <input type="file" name="articleImage" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" name="description"></textarea>
  </div>

  {{#each tags}}
    <input type="checkbox" name="tags" value="{{_id}}" />
    <span onclick="chooseTag(event)"> {{text}}</span>
  {{/each}}

  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea name="content" id="editor"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/addArticle.js"></script>

<script src="/ckeditor5/build/ckeditor.js"></script>

<script>
  ClassicEditor.create(document.querySelector("#editor"), { }).catch((error) =>
  { console.error(error); });
</script>