<div class="container">
  <div>{{article.author.displayName}}</div>

  <div class="ck-content">
    {{{article.content}}}
  </div>

  <h3>Comments</h3>

  <div id="comments"></div>

</div>

<script
  src="https://unpkg.com/react@17/umd/react.development.js"
  crossorigin
></script>
<script
  src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
  crossorigin
></script>
<script src="/js/commentArea.js"></script>