<div class="container">
  <article>
    <div>{{article.author.displayName}}</div>

    <div class="ck-content">
      {{{article.content}}}
    </div>

    <input type="hidden" id="userId" value="{{user._id}}" />

    <input type="hidden" id="articleId" value="{{article._id}}" />

    <div id="comments"></div>

  </article>
</div>

<script
  src="https://unpkg.com/react@17/umd/react.development.js"
  crossorigin
></script>
<script
  src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
  crossorigin
></script>

<script
  src="https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js"
></script>

<script src="/js/article.js"></script>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script type="text/babel" src="/js/react/RemoveReplyFromComment.jsx"></script>
<script type="text/babel" src="/js/react/Replies.jsx"></script>
<script type="text/babel" src="/js/react/ReplyCard.jsx"></script>
<script type="text/babel" src="/js/react/ReplyToComment.jsx"></script>
<script type="text/babel" src="/js/react/RepliesComment.jsx"></script>
<script type="text/babel" src="/js/react/RemoveCommentFromArticle.jsx"></script>
<script type="text/babel" src="/js/react/CommentCard.jsx"></script>
<script type="text/babel" src="/js/react/AddCommentToArticle.jsx"></script>
<script type="text/babel" src="/js/react/Comments.jsx"></script>