<div class="container center">
  <form action="" onsubmit="handleSubmit(event)">
    <br />
    <h1>Enter Code Here</h1>
    <br />
    <p>
      A code has been sent to your e-mail address.
    </p>
    <br />
    <div class="a-form-input">
      <div>
        <label for="code">Code</label>
      </div>
      <input type="text" name="code" />
    </div>

    <button class="yellow-button">Send</button>

  </form>
</div>

<script src="/js/refreshPsw.js"></script>