<div class="container">
  <div class="center">
    <form onsubmit="forgotPassword(event)">
      <div class="a-form-input">
        <label for="email" type="email">Your Email Address</label>
        <input type="email" style="width: 200px;" name="email" />
        <button
          style="margin-top: 10px;"
          type="submit"
          class="yellow-button"
        >Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/refreshPsw.js"></script>