<div class="container center">
  <form action="" onsubmit="newPassword(event)">
    <h1>Enter New Password</h1>
    <div class="a-form-input">
      <div>
        <label for="num">Password</label>
      </div>
      <input type="password" name="password" />
    </div>
    <button class="yellow-button">Send</button>
  </form>
</div>

<script src="/js/refreshPsw.js"></script>