<form onsubmit="sendRequest(event)">
  <div class="a-form-input">
    <label for="password">Your Current Password</label>
    <input type="password" style="width: 200px;" name="password" />
    <button
      style="margin-top: 10px;"
      type="submit"
      class="yellow-button"
    >Submit</button>
  </div>
</form>

<script src="/js/refreshPsw.js"></script>